# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

application/config/config.php

USER_IMG/rchiu1hk/rchiu1hk_2016-02-02-21-45-37_0.png

USER_IMG/rchiu1hk/rchiu1hk_2016-02-03-22-25-51_0.png

USER_IMG/rchiu1hk/Resize/rchiu1hk_2016-02-02-21-45-37_main_0.png

USER_IMG/rchiu1hk/Resize/rchiu1hk_2016-02-02-21-45-37_thumb_0.png

USER_IMG/rchiu1hk/Resize/rchiu1hk_2016-02-03-22-25-51_main_0.png

USER_IMG/rchiu1hk/Resize/rchiu1hk_2016-02-03-22-25-51_thumb_0.png

USER_IMG/rchiu5hk/rchiu5hk_2016-02-02-23-17-12_0.png

USER_IMG/rchiu5hk/Resize/rchiu5hk_2016-02-02-23-17-12_main_0.png

USER_IMG/rchiu5hk/Resize/rchiu5hk_2016-02-02-23-17-12_thumb_0.png

application/config/config.php
